@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.swal-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}
